<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
    <div class="container">
      <a class="navbar-brand" routerLink="/">O</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>              
              <span class="badge bg-warning text-dark rounded-pill" *ngIf="cart$ | async as cart">
                {{ cart.totalItemsCount }}
              </span>            
            </a>
          </li>
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>
          
          <li ngbDropdown class="nav-item dropdown">
            <a *ngIf="authService.user$ | async as user; else anonymousUser"  ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">{{user.displayName}}</a>
            <ul ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown09">
              <li><a class="dropdown-item" routerLink="/my/orders">My Orders</a></li>
              <li><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
              <li><a class="dropdown-item" routerLink="/admin/products">Manage Products</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  